.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .appTitle {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px; 
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .checkboxLabel {
    margin-top: 10px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px; 
  }
  
  .button {
    margin-top: 10px;
    margin-right: auto;
  }
  
  .forgotPassword {
    margin-top: 10px;
  }
  
  .forgotPasswordLink {
    color: #007bff;
  }
  .error {
    color: red; /* Set error message color */
    margin-bottom: 10px; /* Space below the error message */
}

.forgotPasswordLink {
    color: #007bff; /* Link color to match your design */
    text-decoration: none; /* Remove underline */
}

.forgotPasswordLink:hover {
    text-decoration: underline; /* Underline on hover for clarity */
}
