nav {
    background-color: #3498db;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover,
  nav a:active,
  nav a:focus {
    color: #0a130e;
    text-decoration: underline;
  }
  
  nav div {
    display: flex;
    align-items: center;
  }
  
  nav div a {
    margin-right: 1rem;
  }
  
  @media (max-width: 768px) {
    nav div {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav div a {
      margin: 0.5rem 0;
    }
  }
  