.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .profile-content {
    background-color: #f8f9fa;
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #007bff;
  }
  
  p {
    margin: 10px 0;
  }

.logout-button,
.delete-account {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.logout-button {
  background-color: #f44336;
  color: #fff; 
}

.delete-account {
  background-color: #2196f3; 
  color: #fff; 
}

.logout-button:hover,
.delete-account:hover {
  opacity: 0.8;
}
